<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12" style="text-align:center">
      <h1> Upload and analyze your philes! </h1>
      <br>
      <br>
    </div>

    <div id="main-body" class="col-lg-6 col-sm-12 outline">
      <a id="poem-link" href="user/author">Select A Poem</a>
      <br><br>

      <p class="text-heading"> Upload documents or insert textfiles </p>

      <!-- submit text -->
      <form action="/user" method="post" class="input-form">
        <textarea name="userInput" cols="40" placeholder="Input text here!"></textarea> <br>
        <button type="submit" class="btn btn-success">Submit Text</button>
      </form>
      <br>

      <!-- file submit -->
      <form enctype="multipart/form-data" action="/user" method="post" class="input-form">
        <input type="file" name="myFile">
        <button type="submit" class="btn btn-success">Submit File</button>
      </form>

      <h1 id="displayWords-header">Word data:</h1>
      <h2 id="displayWords"></h2>
    </div>

    <div id="current-texts" class="col-lg-6 col-sm-12">
      <p class="text-heading">(select one for word frequencies; two for words in common)</p>
      <button type="button" class="btn btn-success" id="compare-btn" onClick="compareTexts()">Compare txts</button>

      <% document.forEach(function(output){ %>
        <div class="display-text">
          <input type="checkbox" name="texts" value="<%- output.body %>">

          <!-- Insert the logic to cut off text if it's longer than 200 -->
          <% if (output.body.length > 200) { %>
            <p> <%= output.body.substring(0, 200) %>... </p>
            <% } else { %>
            <p> <%= output.body %> </p>
          <% }; %>

          <p>
            <a class="linking" href="/user/<%= output.id %>/edit">edit</a>
            <a class="delete-link linking" href="/user/<%= output.id %>">delete</a>
          </p>
        </div>
      <% }); %>

    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
  //to break down the word frequencies
  function countWords(string) {
    var wordCounts = { };
    var words = string.split(/\s/);

    for(var i = 0; i < words.length; i++)
        wordCounts["_" + words[i]] = (wordCounts["_" + words[i]] || 0) + 1;

    return wordCounts;
  }

  //to find words in common
  function commonWords(str1, str2) {
    var words1 = str1.split(/\s+/g);
    var words2 = str2.split(/\s+/g);
    var allWords = {};

    for (var i=0; i<words1.length; i++) {
      var insertWord = words1[i];
      allWords[insertWord] = 1;
    };

    for (var i=0; i<words2.length; i++) {
      var curr = 0;
      var insertWord = words2[i];

      if (allWords.hasOwnProperty(insertWord)) {
        if (allWords[insertWord] = 1) {
          //found a match
          allWords[insertWord] = 3;
        }
      };
    };

    var both = [];
    for(var prop in allWords) {
        if(allWords.hasOwnProperty(prop) && (allWords[prop] == 3)) {
            both.push(" " + prop);
        };
    };

    return both;
  };

  function compareTexts() {
    var i = 0; //keep track of box checks
    var firstStr, secondStr;

    //give variable names to the checked texts
    $('input[name="texts"]:checked').each(function(){
      if (i === 0) {
        firstStr = this.value;
        i++;
      } else {
        secondStr = this.value;
        i++;
      }
    })

    if (i === 1) {
      $("#displayWords-header").text("Word frequencies in selected txt: ");
      $("#displayWords").html(""); //clear the DOM

      Object.keys(countWords(firstStr)).forEach(function(word){
        $("#displayWords").append("<h2>Word: '"+ word.substr(1) + "' Frequency: " + countWords(firstStr)[word] + "</h2>");
      });
    } else if (i === 2) {
      $("#displayWords-header").text("Words in common between selected txts: ");
      $("#displayWords").html("");
      $("#displayWords").text(commonWords(firstStr, secondStr));
    }
  };

  //limits the number of checkboxes to two
  $("#current-texts :checkbox").change(function(){
    var check = $(this).closest("#current-texts").find(":checkbox:checked");
    if (check.length > 2) {
      this.checked = false;
    }
  });

  //for the delete route
  $('.delete-link').on('click', function(e) {
      e.preventDefault();
      var element = $(this);
      var url = element.attr('href');

      $.ajax({
          method: 'DELETE',
          url: url
      }).done(function(data) {
          // get data returned from the DELETE route
          console.log(data);
          // go back to the homepage after deleting anything.
          window.location = '/user';
      });
  });
</script>
